{
  "swagger": "2.0",
  "info": {
    "version": "1",
    "title": "EmployeeAPI",
    "description": "test API for Imperva API Security, .20.209 ---UPDATED",
    "contact": {
      "name": "Worachat ENTH",
      "email": "wsarsa@exclusive-networks.com"
    }
  },
  "host": "veda.imperva.website",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/employee.php": {
      "get": {
        "description": "Get employee information.",
		"operationId":"GetEmp",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "type": "integer",
			"format": "int64",
			"required": true,
            "description": "ID of the employee."
          }
        ],
        "responses": {
          "200": {
            "description": "Employee info.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Employee"
              }
            }
          }
        }
      },
	  "post": {
        "description": "Add new employee.",
		"operationId":"AddEmp",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "",
			"schema":{
			   "type": "object",
			   "required": ["first_name","last_name","email_address"],
               "properties": {
                  "first_name": {"type": "string","required": true},
                  "last_name": {"type": "string","required": true},
                  "email_address": {"type": "string","required": true},
                  "citizen_id": {"type": "integer","required": true},
                  "account_no": {"type": "integer","required": true}
                }
            }
		  }
        ],
        "responses": {
          "200": {
            "description": "Employee added.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Employee"
              }
            }
          }
        }
      },
	  "put": {
        "description": "Update employee information.",
		"operationId":"UpdateEmp",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "required": true,
			"type": "integer",
			"format": "int64",
            "description": "Employee id to edit."
          },
		  {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "",
			"schema":{"$ref": "#/definitions/Employee"}
          }
        ],
        "responses": {
          "200": {
            "description": "Employee edited.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Employee"
              }
            }
          }
        }
      },
	  "delete": {
        "description": "Delete employee.",
		"operationId":"DeleteEmp",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "required": true,
			"type": "integer",
			"format": "int64",
            "description": "Employee id to edit."
          }
        ],
        "responses": {
          "200": {
            "description": "Employee deleted.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Employee"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Employee": {
      "type": "object",
      "properties": {
        "first_name": {
          "type": "string",
          "required": true
        },
        "last_name": {
          "type": "string",
          "required": true
        },
        "email_address": {
          "type": "string",
          "required": true
        },
        "citizen_id": {
          "type": "integer",
          "required": true
        },
        "account_no": {
          "type": "integer",
          "required": true
        }
      }
    }
  }
}